<!--Header login-->
<div class="sub-nav" style="background-color:#FFF;">
    <div class="container">
        <div class="sub-nav-left">
            <div class="header__logo">

                <a href="http://localhost:1536/"><i class="glyphicon glyphicon-wrench"></i> Inventory and Asset Management System</a>

            </div>
        </div>
        <div class="sub-nav-right">

        </div>
    </div> <!-- container -->
</div> <!-- sub-nav -->
<!--/Header login-->
        @RenderBody()
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <i class="glyphicon glyphicon-lock"></i> CAMT : College of Arts, Media and Technology
            </div>
        </div>
    </div>
</footer>

