<div class="sub-nav" style="background-color:#FFF;">
  <div class="container">
    <div class="sub-nav-left">
      <div class="header__logo">
        
        <a href="index.html"><i class="glyphicon glyphicon-wrench"></i> Inventory and Asset Management System</a>
        
      </div>
    </div>
    <div class="sub-nav-right">
      <a href="#">
        <div class="logoutBT">
          <div class="signOutButton" style="">
            <i class="glyphicon glyphicon-lock"></i> Logout
          </div>
        </div>
      </a>
    </div>
  </div> <!-- container -->
</div> <!-- sub-nav -->